@import './config';

html, body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
}

aside {
  background-color: black;
  color: white;
  padding: 15px;
  text-align: center;
  width: calc( 100% - 30px );
  @include breakpoint( sm ) {
    height: calc(100% - 50px);
    left: 0;
    padding: 25px;
    position: fixed;
    text-align: left;
    top: 0;
    width: calc( 35% - 50px );
  }
  @include breakpoint( lg ) {
    width: calc( 20% - 50px );
  }

  @include breakpoint( xl ) {
    width: calc( 15% - 50px );
  }

  h1 {
    margin: 0 0 15px 0;
    @include breakpoint( sm ) {
      text-align: center;
    }
  }

  a, a:visited, a:hover {
    color: white;
  }

  ul {
    list-style-type: none;
    margin: 0 auto;
    max-width: 75%;
    padding: 0;
    @include breakpoint( sm ) {
      margin: 0 auto;
      max-width: none;
      width: 150px;
    }
    li {
      display: inline-block;
      margin: 0 0 10px 0;
      padding: 0 15px;
      @include breakpoint( sm ) {
        display: block;
        margin-bottom: 15px;
        padding: 0;
      }
    }
  }

  img {
    border: 3px solid white;
    border-radius: 50%;
    display: block;
    height: 100px;
    margin: 0 auto 25px;
    padding: 2px;
    width: 100px;
    @include breakpoint( sm ) {
      height: 150px;
      width: 150px;
    }
  }
}

main {
  background: white;
  color: black;
  padding: 15px;
  width: calc(100% - 30px);
  @include breakpoint( sm ) {
    float: right;
    height: calc(100% - 50px);
    padding: 25px;
    width: calc( 65% - 50px );
  }
  @include breakpoint( lg ) {
    width: calc( 80% - 50px );
  }
  @include breakpoint( xl ) {
    width: calc( 85% - 50px );
  }
}

.project-holder {
  margin: 0 0 25px 0;
  max-width: 700px;
  a {
    display: inline-block;
    color: black;
    font-size: 1.5rem;
    padding-bottom: 15px;
  }
  img {
    max-width: 100%;
  }
}
