@import './config';

html, body {
  height: 100%;
}

body {
  background: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
}

aside {
  padding: 15px;
  width: calc(100% - 30px);
  @include breakpoint(md) {
    background-color: black;
    float: left;
    height: calc(100% - 50px);
    padding: 25px;
    width: calc(25% - 50px);

    h1 {
      margin: 0 0 15px 0;
    }

    a, a:visited, a:hover {
      color: white;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0 0 10px 0;
      }
    }
  }
}

main {
  padding: 15px;
  width: calc(100% - 30px);
  @include breakpoint(md) {
    background: white;
    color: black;
    float: right;
    height: calc(100% - 50px);
    padding: 25px;
    width: calc( 75% - 50px );

  }
}
